@import url(knacss.css);

/* @author : Prénom NOM */
/* @date : 25/12/2016 */
/* @bugfix : erreur à régler */
/* @todo : à faire */
/* @note :  */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- couleurs
2- base styles
3- nav
3- header
4- main
5- aside
6- contact
7- footer
8- adaptive web design
*/

/* ----------------------------- */
/* ==couleurs */
/* ----------------------------- */


/* ----------------------------- */
/* ==base styles */
/* ----------------------------- */
/* importation style de base avec @import url(knacss.css); */


/* ----------------------------- */



/* ----------------------------- */
/* ==header */
/* ----------------------------- */
body{
    background-color: #f8f9eb;
} 

header{
    background-image: url(../img/particles.png), url(../img/index.png), url(../img/index_fond.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;

} 

.logo{
    /* display: flex;
    justify-content: center; */
    width: 10%;
    margin-top:  3%;
}

   
/* ----------------------------- */
/* ==main */
/* ----------------------------- */
main {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

article{
    display: flex;
    height: 240px;
    background-color: gray;
} 

hr{
    width: 35%;
    margin-left: 0;

} 

.article1{
    background-color: #adceb8;
    height: 240px;
    padding-left: 3%;
    padding-right: 3%;
} 

.article2{
    background-color: #ecc7a1;
    height: 240px;
    padding-left: 3%;
    padding-right: 3%;
} 

.article3{
    background-color: #caeade;
    height: 240px;
    padding-left: 3%;
    padding-right: 3%;
} 

.article4{
    background-color: #adceb8;
    height: 240px;
    padding-left: 3%;
    padding-right: 3%;
} 
/* ----------------------------- */
/* ==aside */
/* ----------------------------- */


/* ----------------------------- */
/* ==contact */
/* ----------------------------- */


/* ----------------------------- */
/* ==footer */
/* ----------------------------- */


/* ----------------------------- */
/* ==adaptive web design */
/* ----------------------------- */


